<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>About Us</title>

    <!--<link rel="stylesheet" type="text/css" href="~/css/Index.css">-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500"
          rel="stylesheet"
          type="text/css"/>
    <link href="~/css/AboutUs.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" />
</head>

<body>
    <div class="container">


      <!----  <div class="navbar"> >

            <div id="navbar-links">
                <span> <a href="index.html">Home</a> </span>
            </div>

        </div>--->
        <div class="content">
            <!-- page/table title -->
            <h2 style="text-align: center">Distributed Information Systems - Group 12</h2>
            <!-- one info div per team member -->
            <div class="info-div">
                <img class="intext-image-left" src="~/img/dheeraj.jpg" height="120px" width="120px">
                <p>
                    Dheeraj Yerabati is a graduate student in MS business Analytics and Information Systems with focus on data analytics and Machine Learning looking to tackle real-world challenges. He worked as a Data analyst for Capgemini India for 2 years.
                </p>
            </div>

            <!-- one info div per team member -->
            <div class="info-div">
                <img class="intext-image-left" src="~/img/om.jpg" height="120px" width="120px">
                <p>
                    Omprakash Uppala is pursuing his masters at University of South Florida in Business Analytics and Information Systems. He worked with Wipro technologies back in India.
                </p>
            </div>

            <!-- one info div per team member -->
            <div class="info-div">
                <img class="intext-image-left" src="~/img/raghav.jpeg" height="120px" width="120px">
                <p>
                    Raghavendra is currently pursuing his masters in Business Analytics and information systems at university of south Florida. Prior to his master’s, he had experience in developing supply chain applications for a retail client at Cognizant Technology solutions.
                </p>
            </div>

            <!-- one info div per team member -->
            <div class="info-div">
                <img class="intext-image-left" src="~/img/ER_Diagram.jpeg" height="500px" width="600px">
                <p>
                    The database we are using has two tables. Fuel stations table contains the information of all stations within the USA. Review table consist of cutomer details and station details.
                </p>
            </div>

            <div class="info-div about">
                <h3 style="text-align: center">About the Project</h3>
                <p class="p01">
                    The project's goal is to return the closest fuel stations and their information within a certain radius of a given area. Our data comes from Data.gov, a federal government website with data, tools, and services for conducting analysis, developing web and mobile apps, creating data visualizations, and more. We identified
                    the Public API exposed by NREL at the link <a class="link" href="https://developer.nrel.gov/docs/transportation/alt-fuel-stations-v1/nearest/">Open NREL API</a>.
                    <br>
                    Request URL : GET /api/alt-fuel-stations/v1/nearest.format?parameters  and 
                    Git Hub Link is : <a class="link" href="https://github.com/Omprakashuppala/FuelStations">link</a>
                </p>
            </div>

        </div>


    </div>
</body>

</html>