<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    @*<title>Fuel Station Search</title>*@

    <link rel="stylesheet" type="text/css" href="~/css/Index.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500"
          rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet"
          type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

    <div class="content bodybackground">
        <p id="bodyquote">
            Search gas stations in your area and all over the world. The website shows information about the gas station, such as location, phone number, and accessibility, in a list and on a map, and allows you to quickly navigate to the fuel station with just one click. Use this website to find what you're searching for quickly!
        </p>

    </div>
</body>
</html>
